<div class="app">
    <div class="app__description">
        <p>Приложение реализовывает интерфейс для работы с загрузчиком. <br>
            Можно запустить загрузчик и остановить его. <br>
            При каждом запуске будет показана одна из 10 предостановленных картинок загрузчика
        </p>
    </div>
    <button id="js-start-app" class="app__button app__run">Старт</button>
    <button id="js-stop-app" class="app__button app__stop">Стоп</button>
    <div class="throbbler-container">

    </div>
</div>